# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# MySQL
*.sql
